<<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Joyas de oro</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
<form #formulario="ngForm">

  <ion-item>
    <ion-label>Nombre de joya :</ion-label>
    <ion-input type="text"   name="nombre" [(ngModel)]="insertar.nombrec" required ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Cantidad :</ion-label>
    <ion-input type="number"   name="cantidad" min="1" max="99" [(ngModel)]="insertar.cantidad" required ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Fecha de ingreso :</ion-label>
    <ion-datetime name="f_ingreso" value="2020-12-15" min="2021-01" max="2035" [(ngModel)]="insertar.f_ingreso" 
    [dayShortNames]=""
      displayFormat="DD MMM, YY"
      monthShortNames="Enero, febrero, marzo, abril, mayo, junio, julio, agosto, septiembre, octubre, noviembre, diciembre" required></ion-datetime>
  </ion-item>

  
  <ion-button expand="block" color="success"[disabled]="formulario.invalid" (click)="guardar(insertar.nombrec,insertar.cantidad,insertar.f_ingreso)"  >Guardar</ion-button>
</form>
</ion-content>
