
<ion-header>

  <ion-toolbar color="secondary">
    <ion-buttons slot="end">
      <ion-button (click)="logOut()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
     <ion-title  class="ion-text-center">Stocker's</ion-title>
    <ion-buttons slot="start">
      <ion-button routerLink="/profile">
        <ion-icon slot="icon-only" name="person"></ion-icon>
      </ion-button>  
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding">
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-button expand="block" size="small" color="medium" routerLink="/muestraplata">Ver joyas de plata</ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="block" size="small" color="warning" routerLink="/muestraoro">Ver joyas de oro</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
</div>

<div class="vertical-center">
  <div class="center">
    <ion-img src="assets/stock.png"  class="ion-align-self-end" ></ion-img>
  </div>   
</div>

</ion-content>